<h1>You've got an enquriy</h1>

<p>
  Your enquiry has been received. One of our staff will be with you shorly.
</p>

<p>
    <strong>Enquiry:</strong>
    <%= @enquiry.enquiry_type %>
</p>

<p>
    <strong>Email:</strong>
    <%= @enquiry.email %>
</p>


<p>
    <strong>Content:</strong>
    <%= @enquiry.message %>
</p>