.group-card {
    border: 1px solid $light-grey;
    background-color: $bg-grey;
    
    -webkit-border-radius: 5px !important;
     -moz-border-radius: 5px !important;
          border-radius: 5px !important;
    padding: 0;
    display: inline-block;
    height: auto;
/*    float: left;*/
    margin: 15px 0 15px 0;
}

.group-card-info {
    display: block;
    padding-left: 0 !important;
}

.group-card-info img {
    vertical-align: middle;
    float: left;
    padding-right: 15px;
    margin: 0;
    text-align: left;
    overflow: hidden;
}

.h2-card {
    padding-top: 30px;
    font-weight: 400;
}

.h2-text {
    
}

.group-card-members {
    text-align: center;
    height: 100%;
    vertical-align: middle;
}

.group-card-join {
/*    float: left;*/
}

.large-plus {
    font-size: 11pt;
    font-weight: 200;
    text-align: center;
    text-decoration: none !important;
    padding: 3pt;
    margin: 0;
    -webkit-border-radius: 0px !important;
     -moz-border-radius: 0px !important;
          border-radius: 0px !important;
    background-color: white;
    border-left: 1px solid $light-grey !important;
    border-right: 0 !important;
    border-top: 1px solid $light-grey !important;
    border-bottom: 0 !important;
}


.group-card-join a:hover {
/*    text-decoration: none !important;*/
    color: #45d6d2;
}